<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>532566190384-6hrs38lpmrpn7orr6mumi2e5jdo7jre4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.532566190384-6hrs38lpmrpn7orr6mumi2e5jdo7jre4</string>
	<key>API_KEY</key>
	<string>AIzaSyCSnFEuqCJI5w5rEsjVJrgDMLbZZNFZL7M</string>
	<key>GCM_SENDER_ID</key>
	<string>532566190384</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.surplus-react-native-challenge</string>
	<key>PROJECT_ID</key>
	<string>newsplus-b8be0</string>
	<key>STORAGE_BUCKET</key>
	<string>newsplus-b8be0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:532566190384:ios:183a403c8eaf6a070f00f5</string>
</dict>
</plist>